<!DOCTYPE html>
<html>
<head>
  <title>Page d'Accueil</title>
</head>
<header>
  <h1>Page d'Accueil !</h1>
</header>
<body>
  <main>
    <form action="" method="post">
      <label for="template id">Template id :</label><br>
      <input type="text" name="template" required=""><br>
      <label for="top text">Top Text</label><br>
      <input type="text" name="toptext" required=""><br>
      <label for="bottom text">Bottom Text</label><br>
      <input type="text" name="bottomtext" required=""><br>
      <br>
      <button type="submit">Créer un meme</button>
    </form>
    <form  action="/"><br>
      <button>Déconnexion</button>
  </form>
  </main>
</body>
</html>