<!DOCTYPE html>
<html>
<head>
  <title>Page de connexion</title>
</head>
<header>
    <h1>Page de connexion</h1>
</header>
<body>
  <main>
    <form action="/login" method="post">
      <label for="email">E-mail :</label><br>
      <input type="email" name="email" required=""><br>
      <label for="password">Mot de passe :</label><br>
      <input type="password" name="password" required=""><br>
      <br>
      <button type="submit">Connexion</button>
    </form>
  </main>
</body>
</html>